node_modules
'node_modules'
/reactapp/node_modules
./reactapp/node_modules

data/*

model_scratch.pt
model_transfer.pt
'model_scratch.pt'
'model_transfer.pt'
/modelContainer/copy.pt
'/modelContainer/copy.pt'
./modelContainer/copy.pt

