 
 html, body {
  margin: 0;
  height: 100%;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  touch-action: none;
  padding: 0;


}
 
 #root{

  --mobile-width-breakpoint:540px;
  --main-highlight-color:#09efefcc;;
  --main-highlight-outline:#000000;
  --side-background-color:#b0ecfb70;
  --mobile-side-background-color:#b0ecfb70;
  
 }



#leftHalf{
  background: var(--side-background-color);
  padding-left: 4%;
  
}


.outline-text{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--main-highlight-outline);
    color: var(--main-highlight-color);
    font-size: 36px;

  
}
.leftHalf-corner{

  
    height: inherit;
    width: inherit;
    background: black;
    -webkit-clip-path: polygon(100% 0, 69% 0, 100% 31%);
    clip-path: polygon(100% 0, 69% 0, 100% 31%);
 
}



#wiki-text{
  position: relative;
}

#wikiButton{
  width: 66%;
  margin-top: 30%;
  margin-left: 25%;
  position: relative;
  min-width: 110px;
}
#map {
  width: 85%;
  height: 100%;

    margin: 0 ;
    display: flex;
    justify-content: center;
    padding-top: 4%;
    padding-bottom: 1%;
    margin-left: 8%;

}
#breed-glass-card{
  width: 100%


}


.mid-teal{
  background-color: #329bb2 !important;
}
.mid-purple{
  background-color: #56586e!important;
}

.dark-purple{
  background-color: #494c5c !important;
}

.sticky{
  position: sticky !important;
  top: 0px; /* When the element reaches top: 10px, it becomes fixed. */
  z-index: 100;
}
body{
  scroll-snap-type: proximity;
  scroll-snap-points-y: repeat(100vh);
  overflow-y: scroll;
}
#whole-page-home{
  background-image: url("3325969.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: 200%;
}
 #main-content{
 
   
  -webkit-mask-image:-webkit-gradient(linear, right top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.0.6)));
      
  
 }

 @media(max-width:540px){
  #main-content{
 
     
    -webkit-mask-image:-webkit-gradient(linear, right top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.0.6)));
        
    
   }

   .custom-font-xxxlarge{
  
    font: size 100%!important;
  
  }


  .outline-text {

    font-size: 26px;
}

 }

 .bg-color-white{

  background: rgb(236, 239, 240);
 
 }

 .bg-color-darkGray{

  background: rgb(52, 53, 54);
 
 }

 .bg-color-black{

  background: rgb(7 11 20)
 
 }

 


 #main{
  background: #2f3240 ;
  height: 100vh;
 }

 .text-drain{
    color:rgba(116, 112, 137,0.78) !important

 }

 
 
 #slider {
  width: 400px;
  height: 90px;
  position: relative;
  margin: 100px auto;
  background: #10171D;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
  -moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
}
#slider .bar {
 
  width: 388px;
  height: 90px;
  background: #333;
  position: relative;
  top: -4px;
  left: 4px;
  background: #1d2e38;
  background: -moz-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1d2e38), color-stop(50%, #2b4254), color-stop(100%, #2b4254));
  background: -webkit-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
  background: -o-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
  background: -ms-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
  background: linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1d2e38', endColorstr='#2b4254', GradientType=1);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
#slider .highlight {

}
input[type="range"] {
  -webkit-appearance: none;
  background-color:rgb(42 56 66);
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  height: 2rem;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  top:-1rem;
  z-index: 4rem;
  width: 1rem;
  height: 3rem;
  cursor: pointer;
  -webkit-box-shadow: 0px 6px 5px 0px rgb(255, 187, 0);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 187, 0)), color-stop(50%, rgb(255, 187, 0)), color-stop(51%, rgb(255, 187, 0)), color-stop(100%, rgba(235, 170, 1, 1)));
}
input[type="range"]:hover ~ #rangevalue,
input[type="range"]:active ~ #rangevalue {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  top: -75px;
 
}
/* Tool Tip */

#rangevalue {
 
  color: rgb(255, 187, 0);
  font-size: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  display: block;
  color: #fff;
  margin: 20px 0;
  position: relative;
  left: 44.5%;
  padding: 6px 12px;
  border: 1px solid black;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222931), color-stop(100%, #181D21));
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 18px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: -95px;
}
input[type="range"]:focus {
  outline: none;
 
}
#home-page-background{
  /*clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 0 100%, 14% 48%, 0 0);*/
  /* clip-path: polygon(100% 0, 100% 48%, 100% 100%, 46% 100%, 27% 54%, 4% 0); */
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 100%, 42% 100%, 0 100%, 23% 76%);
  position: absolute;
  right: 0;
  filter: drop-shadow(0px 10px 5px rgba(0,0,0,0.1));
  height: 103%;
  width: 1020px;

}

#second-page-background{
  z-index: 0;
  position: absolute;
  filter:brightness(60%);
 
}
#second-page-background::after{
 box-shadow: inset 3px 3px 10px 0 #ff0000;
 content: '';
 display: block;
 height: 100%;
 position: absolute;
 top: 0;
 width: 100%;

}


#third-page-background{
  z-index: 0;
  position: absolute;
  filter:brightness(50%);
  height: 100%;
  width: 70%;
  padding-left: 3rem ;
}
#third-page-background::after{
 
 box-shadow: inset 3px 3px 10px 0 #ff0000;
 content: '';
 display: block;

 position: absolute;
 top: 0;


}






#page-two-content{


}


.custom-bg-blue-ocean {
  background-color: #b6e5ec
}
 
.custom-title-main {
  opacity:0;
  animation-delay: 1.1s !important;
  -webkit-animation-name: slideInFromLeft;
  animation-name: slideInFromLeft;
-webkit-animation-duration: 0.2s;
animation-duration:  0.2;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
-webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
animation-timing-function: linear;



  position: relative;
 
  display: inline-block;
  
  
}

/*Fade out blue slide*/
.custom-title-main::before {
  
 content:' '   ;
 position: absolute;
 background :rgb(27, 216, 245)  ;
 border-radius: 10%;
 width:105%;
 height:100%;
 display: inline-block;
 right:0px;
 animation-delay: 1.6s !important;
animation: 1.1s ease-out 0s 1 vanish;
box-shadow: 5px 10px 18px #2f2d2d;
-webkit-animation-fill-mode: forwards;
-moz-animation-fill-mode: forwards;
-ms-animation-fill-mode: forwards;
-o-animation-fill-mode: forwards;
animation-fill-mode: forwards;

}

.card-glassy {
  backdrop-filter: blur(7px) saturate(74%);
  -webkit-backdrop-filter: blur(7px) saturate(74%);
  background-color: rgba(17, 25, 40, 0.46);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
 
@keyframes slideInFromLeft {
  0% {
     
    transform: translateX(-100%);
  }
  30% {
    opacity:0.5;
    transform: translateX(-20%);

  }
  
  100% {
    opacity:1;
    transform: translateX(0);
    
  }
}

@keyframes shrink {
  0% {
    transform: translateX(100%);
  }
  30% {
    transform: translateX(20%);

  }
  100% {
    transform: translateX(0);

  }
}


@keyframes vanish {
  0% {
   width:100%;
  }
  30% {
    width:30%;

  }
  100% {
    width:0%;
    visibility: hidden;
  }
}

.custom-shadow{

  filter: drop-shadow(0px 4px 1px rgba(0,0,0,0.4));
}


.custom-shadow-1{

  filter: drop-shadow(1px 2px 1px rgba(0,0,0,0.6));
   
}

.custom-index{
  z-index: 1;
}

.custom-clip-shadow{
   
    position: absolute;
    z-index: 0;
    content: "";
    background: rgba(0, 0, 0, .5);
    width:100%;
    height: 100%;
    left: 5px;
    top: 5px;
    
}

a{
  text-decoration: none;
}
 
.custom-font-size-small{
  font-size: 150%;
}
 
.custom-font-size-big{
  font-size: 150%;
}


.custom-font-size-2{
  font-size: 2rem;
}

.custom-font-size-3{
  font-size: 3rem;
}

.custom-font-size-4{
  font-size: 4rem;
}

.custom-padding-top{
  padding-top: 11rem ;
 }
.custom-margin-left-1{
  margin-left: 1rem !important;
}

.custom-margin-left-2{
  margin-left: 2rem !important;
}

.custom-margin-left-3{
  margin-left: 3rem !important;
}

.custom-margin-left-4{
  margin-left: 4rem !important;
}

.custom-margin-right-4{
  margin-right: 4rem !important;
}

.custom-padding-right-4{
  padding-right: 4rem !important;
}

.custom-padding-top-1{
  padding-top: 1rem !important;
}


.custom-margin-top-1{
  margin-top: 1rem !important;
}
.custom-margin-top-2{
  margin-top: 2rem !important;
}
.custom-margin-top-3{
  margin-top: 3rem !important;
}
.custom-margin-top-4{
  margin-top: 4rem !important;
}
.custom-margin-top-5{
  margin-top: 5rem !important;
}
.custom-margin-top-6{
  margin-top: 6rem !important;
}
.custom-margin-top-7{
  margin-top: 7rem !important;
}
.custom-margin-top-9{
  margin-top: 9rem !important;
}
.custom-margin-top-10{
  margin-top: 10% !important;
}

.custom-margin-top-11{
  margin-top: 11rem !important;
}

.custom-margin-right{
  margin-right: 5rem !important;
}
.custom-font-bold{
  font-weight: bolder;
}

.custom-font-xxxlarge{
  
  font-size:clamp(1rem,1rem + 1vw,3rem);

}


.custom-font-xxlarge{
  
  font-size:clamp(1rem,1rem + 1vw,2rem);;

}

.custom-font-family{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.custom-navbar{
  max-height: 60px;
}


 .custom-flex-center{
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
 }


 .square-wrapper3 {
width:100%
 }

 img{
  scroll-snap-align: start;
 
 }

 

@media(max-width:430px){
  
  #paragraphs-div{
   
    margin-left: 15%;
    /* margin-top: 10px; */
    /* margin-right: 8%; */
    /* width: 30%; */
     min-width: 300px; 
    /* max-height: 281px; */
    /* max-width: 300px; */
    width: 78%;
    height: 50%;
    

  }
}



@media(max-width:540px){
  
  #paragraphs-div{
     margin-left: 22%;
     min-width: 280px; 
  
  }
  #leftHalf{
    background: var(--side-background-color);
    padding-left: 0%;
    width: 100%;
    min-height: 350px;
    margin-top: 8%;
  }

  #wikiButton{
    margin-top: 0%; 
     margin-left: 0%;
     min-width: 130px;
     padding-right: 42%;
    height: 17%;
  }

  .btn-outline-danger {
   
    /* border-color: #dc3545; */
    color: white!important;
    background: #b10a0a!important;
}

}


@media(max-width:330px){
  
  #paragraphs-div{
    padding-top: 1%;
    margin-left: 15%;
    /* margin-top: 10px; */
    /* margin-right: 8%; */
    /* width: 30%; */
     min-width: 300px; 
    /* max-height: 281px; */
    /* max-width: 300px; */
    width: 78%;
    height: 50%;

  }
}

 .custom-fade-in{
  
  animation: fadeIn 5s ease 0s  normal none, slide-down 3s ease 0s  normal none;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}


.custom-fade-in-2{
  
  animation: fadeIn-2 4s ease 0s  normal none ;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.slide-down{
 
 
}

@keyframes fadeIn {
    0.0%{
      opacity: 0;
  }
  40.4%{
      opacity: 1;
  }
}

@keyframes fadeIn-2 {
    0.0%{
      opacity: 0;
  }
  100%{
      opacity: .70;
  }
}


@keyframes slide-down {
  0.0%{
    transform: translate(0px,2%);
}
100%{
    transform: translate(0px,0%);
}
29.5%{
    transform: translate(0px,0%);
}
}

.black-and-white {
  filter: grayscale(100%)
}

#nav-and-tools-div{
  position: relative;
  height: 101px;
}

#customRange1{
  position: relative;
    top: -17px;
}

#main-title{
  display: flex;
  justify-content: center;
  align-items: center;
}
#text-body{
  background-color: #14393e;
  width:100%
  
}

#paragraphs-div{
 /* display: table;
  margin: 0 auto;
  position: absolute;
   min-width: 300px;
  top: 15%;
  right: 3%;*/
  margin-top: 10px;
  margin-right: 8%;
  width: 30%;
 
  max-width:500px


}
.para-styles{
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  width: 50%;
  margin: 0 auto;
}

.capitalize {
  text-transform: capitalize;
}
.custom-perline{
  white-space: pre-line
}

.center-text{
  text-align: center;
}


@media screen and (max-width: 545px) {
 
}

